*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(7, 1, 7);
}

.headers{
    height: 100px;
    background-color:rgb(50, 41, 50);

}

.logo{
    display: inline-flex;
    width:5%;
    margin-left: 4%;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.middle{
    border-radius: 50px;
    display: inline-flex;
    width: 50%;
    height: 60%;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    background-color: black;
}
.subHeaders{
    display: inline-flex;
    width: 15%;
    justify-content:center;
    color: white;
    margin-top: 15px;
    font-size: 25px;
    font-style: bold;
    font-family: sans-serif;
}
.middle2{
    margin-left: 3%;
    margin-right: 3%;
    background-color: black;
    display: inline-flex;
    width: 4%;
    height: 50px;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 20px;
    margin-top: 20px;
}
.fa-phone{
    color:white;
    height: 40px;
    font-size: 30px;
    margin-top: 10px;
}
.right{
    margin-left: 3%;
    margin-right: 3%;
    background-color: black;
    display: inline-flex;
    width: 12%;
    height: 50px;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: sans-serif;
    border-radius: 20px;
}
