

body{

}

nav{
    border: 2px solid red;
    height: 300px;
    display: flex;
}
.profile{
    border:2px solid blue;
    width: 300px;
}
.profile img{
    width: 200px;
    height: 200px;
    object-fit: fit;
    border-radius: 400px;
    margin-top:40px;
}
.Info{
    border: 2px solid yellow;
    width: 600px;
    margin-left: 20px;
}
.about{
    display: block;
    border: 2px solid green;
}

.proj{
    display: flex;
    border: 2px solid blue;
    margin-top: 100px;
    padding: 30px;
}
.resume{
    margin-left: 50px;
}

.page1{
    border: 2px solid blue;
    height: 300px;
}
.page1 div{
    border: 2px solid green;
    display: inline;
    width: 200px;
    height: 200px;
}
.contact{
    height: 400px;
    border: 2px solid greenyellow;
    display: flex;
}

.cont1 input{
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    width: 1000px;
}
.cont1{
    display:inline;
}