.display{
    border: 2px solid purple;
    width: 100px;
    height: 30px;
}

p{
    display: inline;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20%;
}
.frame{
    border: 2px solid red;
}
.leaderBoard{
    border: 2px solid green;
}